@import '../../styles/variables';

.admin-list-item {
    // background-color: #F9EEEF;
    background-color: transparent;
    height: 40px;
    display: grid;
    grid-template-areas: 
    "position name time"
    ;
    grid-template-columns: 1fr 5fr 1fr;
    padding-right: 20px;
    border-radius: 50px;
    text-align: left;
    color: white;
    align-items: center;
    justify-content: center;
    
    .name {
        grid-area: name;
    }
    
    .position {
        grid-area: position;
        align-self: center;
        justify-self: center;
    }
    
    .time {
        justify-self: center;
        align-self: center;
        grid-area: time;
    }
}