@import './styles/variables';

body {
    font-family: $sans-serif;
    font-weight: $normal;
    color: $txt-primary;
    margin: 0;
    overflow: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    }

    .light {
        font-weight: $light;
    }

    .bold {
        font-weight: $bold;
    }

    .grabbable {
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
    }

    // h1 {
    //     font-size: 1.2em;
    //     line-height: 1.5em;
    //     letter-spacing: 2px;
    // }
    // h2 {
    //     font-size: 0.8em;
    // }
    // h3 {
    //     font-size: 0.6em;
    // }

    .circle {
        border-radius: 50%;
    }

    .abs {
        position: absolute;
    }

    .blurred {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }

    .back-btn {
        left: 10px;
        top: 10px;
        z-index: 100000;
    }

    .justify-center {
        justify-self: center;
    }


}

@media(min-width: 500px) {
    body {
        h1 {
            font-size: 1.5em;
        }

    }
}

@media(min-width: 850px) {
    // body {
    //     h1 {
    //         font-size: 2em;
            
    //         &.title {
    //             font-size: 3em;
    //             margin-top: 2.5%;
    //         }
    //     }
    //     h2 {
    //         font-size: 1.6em;
    //     }
    //     h3 {
    //         font-size: 1.2em;
    //     }
    // }
}