$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$txt-primary: black;
$txt-secondary: black;

$bg-primary: rbg(255, 255, 255);